<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form method="post" action="/user/login">

        <label>Email</label>
        <input type="text" name="email" required/><br><br>

        <label>Password</label>
        <input type="text" name="password" required/><br><br>

        <button type="submit"> Login</button>

    </form>
</body>
</html>